/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */
 


.cover-bg {
	color: $textwhite;
	background-color: $darkerblue-bg;
	background-image: none;
	padding-bottom: 40px;
	@include breakpoint($min-md){
		min-height: 100vh;
		padding-top: 40px;
		padding-bottom: 110px;
		background-image: url("../images/cover1.png");
		background-size: cover; 
		background-position: 100% 100%;
			
	}
	.banner-title {		
		font-size: 48px;
		font-weight: bold;
		line-height: 58px;
		margin-bottom: 10px;
		text-align: center;
		@include breakpoint($min-sm){
			margin-top: 130px;
			text-align: left;
		}
	}
	.banner-sub-title {
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		@include breakpoint($min-sm){
			text-align: left;
		}
	}
	.banner-buttons {
		text-align: center;
		@include breakpoint($min-sm){
			text-align: left;
		}
		.btn {
			margin-top: 20px;
			@include breakpoint($min-sm){
				margin: 20px;
				margin-left: 0;
			}
		}
	}
}

.makeevery {
	padding: 40px 0;
	@include breakpoint($min-sm){
		padding: 60px 0;
	} 
	.heading {
		font-size: 32px;
		line-height: 42px;
		h2 {
			font-weight: 500;
		}
		h3 {
			font-weight: bold;
		}
	}
	.services {
		padding: 25px;
		text-align: center;
		@include breakpoint($min-sm){
			padding: 30px 65px;
		}
		.service-logo img {
			display: inline-block;
			height: 50px;
		}
		.service-heading {
			text-transform: capitalize;
			height: 50px;
			font-size: 20px;
			line-height: 42px;
			font-weight: bold;
		}
		.description {
			color: $text-grayishblue;
			font-size: 18px;
			line-height: 28px;
		}
		.learnmore {
			font-size: 16px;
			line-height: 42px;
			color: $textblue;
			font-weight: bold;
			
			&:hover {
				text-decoration: none; 
			}
			
		}
	}
	.buttons {
		padding: 30px 0;
		@include breakpoint($min-sm){
			padding: 75px 0;
		}
		.btn {
			margin-top: 20px;
			@include breakpoint($min-sm){
				margin: 20px;
				margin-left: 0;	
			}					
		}
	}
	.peoplepic {
		padding-bottom: 50px 0;
	}
}

.planorganize {
	margin: 30px 0;
	@include breakpoint($min-sm){
		padding: 75px 0;
	}
	.heading {
		font-size: 32px;
		line-height: 42px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 10px;
	}
	.subheading {
		color: $text-grayishblue;
		font-size: 24px;
		line-height: 42px;
		text-align: center;
	}
	.devices {
		padding: 50px 0;
	}
}

.plangrayblock{
	background-color: $whitish-bg;
	padding: 50px 0;
	border-top: $lightwhite;
	border-bottom: $lightwhite;
	.question {
		font-size: 18px;
		line-height: 28px;
		color: $textdarkblue;
		font-weight: bold;
	}
	.media {
		font-size: 18px;
		line-height: 28px;
		.media-object {
			width: 45px;
			height: 45px;
		}
		.media-body a {
			text-decoration: none;
			&:hover, &:focus, &:active {
				text-decoration: none;
				color: $textblue;
			}
		}
	}
}

.everyone {
	padding: 30px 0;
	font-size: 18px;
	line-height: 28px;
	@include breakpoint($min-sm){
		padding: 75px 0;
	}
	.heading {
		color: $text-grayishblue;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
	}
	.boxes {
		margin-top: 30px;
		padding: 10px;
		@include breakpoint($min-sm){
			padding: 40px 60px;
		}

		@include breakpoint($xs){
			padding: 20px 20px;
		}
 
		.topheading {
			font-size: 24px;
			line-height: 32px;
			font-weight: bold;
			margin-bottom: 30px;
		}
		ul {
			padding-left: 0;
			li {
				list-style-position: outside;
				color: $text-grayishblue;
				font-size: 18px;
				line-height: 40px;
			}
		}
	}
	.grayborder {
		border: 1px solid $lightwhite;
		ul li {
			list-style: none;
			&::before {
				content: '';
				display: inline-block;
				height: 18px;
				width: 18px;
				margin-right: 20px;
				background-image: url("../images/svg/additional/close.svg");
			}
		}
	}
	.greenborder {
		border: 1px solid $greencolor;
		.topheading {
			color: $textgreen;
		}
		ul li {
			list-style: none;
			&::before {
				content: '';
				display: inline-block;
				height: 18px;
				width: 18px;
				margin-right: 20px;
				background-image: url("../images/svg/additional/check.svg");
			}
		}
	}
}
.testimonial {
	border-top: 1px solid $lightwhite;
	border-bottom: 1px solid $lightwhite;
	padding: 30px 0;
	@include breakpoint($min-sm) {
		padding: 80px 0;
	}
	.media {
		.media-body {
			font-size: 18px;
			line-height: 28px;
			padding-left: 10px;
			display: inline;
			@include breakpoint($min-sm){
				display: table-cell;
			}
			.media-heading {
				color: $text-grayishblue;
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 30px;
			}
			.name {
				font-weight: bold;
			}
			.bio {
				font-weight: 500;
			}
		}
	}
}

.portfolioarea {
	padding: 80px 0;
	.heading {
		margin-bottom: 75px;
		text-align: center;
		font-size: 32px;
		line-height: 42px;
		font-weight: bold;
	}
	.portfolioboxes {
		border: 1px solid $lightwhite;
		padding: 20px;
	}
	.media {
		.media-left {
			.media-object {
				background-color: $lightwhite;
				width: 180px;
				height: 115px;
			}
		}
		.media-body {
			padding: 10px;
			font-size: 16px;
			line-height: 22px;
			display: inline;
			@include breakpoint($min-sm){
				display: table-cell;
			}
			color: $text-grayishblue;
			h4 {
				font-weight: bold;
				color: $textblack;
				font-size: 24px;
				line-height: 42px;
			}
		}
	}

}

.trialarea {
	padding: 70px 0 80px 0;
	background-color: $darkerblue-bg;
	background-image: none;
	color: $textwhite;
	@include breakpoint($min-md) {
		background-image: url("../images/svg/images/icons-left.svg"), 
		url("../images/svg/images/icons-right.svg");
		background-repeat: no-repeat, no-repeat;
		background-position: left, right;
	}
	h2 {
		margin-bottom: 30px;
		font-size: 32px;
		line-height: 58px;
	}
	p {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 30px;
	}
	.leftbg {
		height: 350px;
		background-image: url("../images/svg/images/icons-left.svg");
		background-repeat: no-repeat;
	}
	.rightbg {
		right: 0;
		height: 350px;
		background-image: url("../images/svg/images/icons-right.svg");
		background-repeat: no-repeat;
	}
}

.support {
	padding: 30px 0;
	background-color: $whitish-bg;
	line-height: 28px;
	img {
		width: 35px;
		height: 35px;
		display: table-cell;
		@include breakpoint($min-sm){
			display: inline-block;
		}
			@include breakpoint ($xs) {
				margin-bottom: 15px; 	
			}
	}
	span {
		display: table-cell;
		vertical-align: middle;
		margin-left: 10px;
		font-size: 18px;
		line-height: 28px;
		color: $text-grayishblue;
		@include breakpoint($min-sm){
			display: inline-block;
		}
		b {
			color: $textblack;
		}
	}
}


// Footer styles are here
.main-footer {
	font-size: 16px;
	line-height: 28px;
	padding: 30px 0 30px 0;
	@include breakpoint($min-sm){
		padding: 78px 0 85px 0;
	}
	.footernav-head {
		text-transform: uppercase;
		margin-bottom: 10px;
		margin-top: 40px;
		@include breakpoint($min-sm){
			margin-top: 0;
			margin-bottom: 30px
		}
	} ul li a {
		color: $text-grayishblue;
		&:hover {
			text-decoration: none;
		}
	}
	.rightside {
		text-align: center;
		margin-top: 40px;
		@include breakpoint($min-sm) {
			text-align: right;
			margin-top: 0;
		}
		.logo {
			margin-bottom: 26px;
			img {display: inline-block;}
		}
		p {
			font-size: 14px;
			color: $text-grayishblue;
			margin-bottom: 26px;
		}
		.social {
			margin-bottom: 35px;
			.circle {
				width: 50px;
				line-height: 50px;
				vertical-align: middle;
				text-align: center;
				height: 50px;
				display: inline-block;
				border-radius: 50%;
				border: 1px solid $blue;
			}
		}
	}	
}

i.icon-arrow-right {
 display: inline-block;
 background-image: url("../images/svg/main/arrow.svg");
 background-repeat: no-repeat;
 background-position: 100% 100%; //center center
 /* background-position: 25px 0px; */
 width: 15px;
 height: 15px;
     vertical-align: middle;
} 

.hinda-logo {
	
    position: absolute;
    width: 411px;
    height: auto;
    z-index: 999999999999999999;
    top: 28px;
    left: 51px;

}