/* 
 * ----------------------------------------------------------------------------------------
 * Global Style.
 * ----------------------------------------------------------------------------------------
 */
 




// body {
//    font-family: 'arial', sans-serif;
//  }

//  h2, h3, h4, h5, h6 {
//    font-family: 'Nunito', sans-serif;
//  }

//  p, a {
//    font-family: 'arial', sans-serif;
//  }




//  h1 {

//  	// semibold 
//  	font-family: "proxima-nova-semibold",sans-serif;
//  	font-size: 32px;
//  	line-height: 44px;
//  	color: #393c3e; 

//  }


//  h2 {
//  	//regular
//  	font-size: 22px;
//  	line-height: 32px;
//  	color: #393c3e; 

//  }


//  h3 {
//  	font-size: 20px;
//  	line-height: 28px;
//  	color: #393c3e; 

//  }


// p {
//  	font-size: 16px;
//  	line-height: 24px;
//  	color: #71787e; 

//  }

//  a {

//  	// semibold 
//  	font-size: 16px;
//  	line-height: 24px;
//  	color: #00aeef;
//  	&:hover , &:focus {
//  		color: #009ad4;
//  	}
//  }


h4 { margin: 0; }

h5 { margin: 0; font-weight: bold;  }

p { margin: 0; }



.icon-info {
	display: inline-block;
	background-image: url("../images/icon-set.png");
	background-repeat: no-repeat;
	
	background-position: 0px -53px;
	width: 40px;
	height: 40px;
	
	&.active  {
		background-position: 0px -96px;
	}
 
}


 @font-face {
 	font-family: 'AvenirlTStd';
 	
 	src: url(../fonts/AvenirLTStd-Light.otf);
 	
 }
 @font-face {
 	font-family: 'AvenirlTStd';
 	
 	font-style: oblique;
 	src: url(../fonts/AvenirLTStd-LightOblique.otf);
  
 }

 /* Font-Face */ 
 @font-face {
 	font-family: 'AvenirlTStd';
 	font-weight: bold;
 	src: url(../fonts/AvenirLTStd-Black.otf);
 	
 }
 @font-face {
 	font-family: 'AvenirlTStd';
 	font-style: oblique;
 	src: url(../fonts/AvenirLTStd-BlackOblique.otf);
 	
 }
 @font-face {
 	font-family: 'AvenirlTStd';
 	font-weight: 800;
 	src: url(../fonts/AvenirLTStd-Heavy.otf);
 	
 }
 @font-face {
 	font-family: 'AvenirlTStd';
 	font-weight: 800;
 	font-style: oblique;
 	src: url(../fonts/AvenirLTStd-HeavyOblique.otf);
 	
 }
 

 body {
 	font-family: "AvenirlTStd", sans-serif;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-family: "AvenirlTStd", sans-serif;
 }

 p, a {
 	font-family: "AvenirlTStd", sans-serif;
 }