// Bootstrap Breakpoints
$xs:  max-width 767px;
$min-sm: 767px;
$min-md: 991px;
$sm: 768px 991px;

$md: 992px 1199px;

$lg: 1200px;

$orange: #f16209;
.orange {
	color: $orange;
}


$text-grayishblue: #738090;
$textblack: #000000;
$textwhite: #ffffff;
$textgreen: #81ce3d;
$textdarkblue: #49525c;
$textblue: #3976cc;

$jordy-blue-bg: #75abea;
$whitish-bg: #fafafa;
$darkerblue-bg: #526acc;
$lightwhite: #dbdbdb;
// $lightwhite: #efefef;
$greencolor: #81ce3d;

$blue: #3976cc;
