        <!-- @include html_Moudles/header.html -->

        <div class="cover-bg">
        	<nav class="navbar navbar-default" role="navigation">
        		<div class="container">
        			<div class="row">
        				<div class="col-xs-12 col-sm-4 col-md-5">
        					<div class="navbar-header">
        						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        							<span class="sr-only">Toggle navigation</span>
        							<span class="icon-bar"></span>
        							<span class="icon-bar"></span>
        							<span class="icon-bar"></span>
        						</button>
        						<a class="navbar-brand" href="#">
        							<img src="assets/images/logo1.png" class="img-responsive" alt="Image">
        						</a>
        					</div>
        				</div>
        				<div class="col-xs-12 col-sm-8 col-md-7">
        					<div class="collapse navbar-collapse navbar-ex1-collapse">
        						<ul class="nav navbar-nav">
        							<li><a href="#">All Features</a></li>
        							<li><a href="#">Pricing</a></li>
        							<li><a href="#">Blog</a></li>
        							<li><a href="#">Contacts</a></li>
        						</ul>
        					</div><!-- /.navbar-collapse -->
        				</div>
        			</div>
        			<!-- Brand and toggle get grouped for better mobile display -->
        			

        			<!-- Collect the nav links, forms, and other content for toggling -->
        			
        		</div>
        	</nav>
        	<div class="container">
        		<div class="row">
        			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        				<h1 class="banner-title">Collaborate better, together.</h1>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        				<h1 class="banner-sub-title">Tasks have never looked better. Get your all-in-one solution to collaborate, manage tasks discuss ideas, and stay updated.</h1>
        			</div>
        		</div>
        		<div class="row"> 
        			<div class="col-sm-12 col-md-8 banner-buttons">
        				<a href="" class="btn btn-yellow">get started for free</a>
        				<a href="" class="btn btn-jordy-blue">watch video</a>
        			</div>
        		</div>
        	</div>
        </div>

        <section class="makeevery">
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-12">
        				<div class="text-center heading m-b-40">
        					<div><h2>Make every customer support interaction</h2></div>
        					<div><h3>more human & more helpful.</h3></div>
        				</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-4">
        				<div class="services">
        					<div class="service-logo m-b-20">
        						<img src="assets/images/svg/main/discussion.svg" class="img-responsive" alt="Image">
        					</div>
        					<div class="service-heading">Discussion</div>
        					<div class="description m-b-20">Scalable email support for teams, no headaches.</div>
        					<a class="learnmore">Learn More <i class="icon-arrow-right"></i></a>
        				</div>
        			</div>
        			<div class="col-sm-4">
        				<div class="services">
        					<div class="service-logo m-b-20">
        						<img src="assets/images/svg/main/task.svg" class="img-responsive" alt="Image">
        					</div>
        					<div class="service-heading">Task</div>
        					<div class="description m-b-20">A knowledge base that’t helping customers 24/7</div>
        					<a class="learnmore">Learn More <i class="icon-arrow-right"></i></a>
        				</div>
        			</div>
        			<div class="col-sm-4">
        				<div class="services">
        					<div class="service-logo m-b-20">
        						<img src="assets/images/svg/main/issues-tracker.svg" class="img-responsive" alt="Image">
        					</div>
        					<div class="service-heading">issue tracker</div>
        					<div class="description m-b-20">Customers can find answers without leaving your site.</div>
        					<a class="learnmore">Learn More <i class="icon-arrow-right"></i></a>
        				</div>
        			</div>
        			<div class="col-sm-4">
        				<div class="services">
        					<div class="service-logo m-b-20">
        						<img src="assets/images/svg/main/сheck-ins-and-goals.svg" class="img-responsive" alt="Image">
        					</div>
        					<div class="service-heading">check-ins and goals</div>
        					<div class="description m-b-20">Scalable email support for teams, no headaches.</div>
        					<a class="learnmore">Learn More <i class="icon-arrow-right"></i></a>
        				</div>
        			</div>
        			<div class="col-sm-4">
        				<div class="services">
        					<div class="service-logo m-b-20">
        						<img src="assets/images/svg/main/milestones.svg" class="img-responsive" alt="Image">
        					</div>
        					<div class="service-heading">milestones</div>
        					<div class="description m-b-20">A knowledge base that’t helping customers 24/7</div>
        					<a class="learnmore">Learn More <i class="icon-arrow-right"></i></a>
        				</div>
        			</div>
        			<div class="col-sm-4">
        				<div class="services">
        					<div class="service-logo m-b-20">
        						<img src="assets/images/svg/main/file-managment.svg" class="img-responsive" alt="Image">
        					</div>
        					<div class="service-heading">file management</div>
        					<div class="description m-b-20">Customers can find answers without leaving your site.</div>
        					<a class="learnmore">Learn More <i class="icon-arrow-right"></i></a>
        				</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-12 text-center buttons">
        				<a href="#" class="btn btn-outline-blue">learn how it works</a>
        				<a href="#" class="btn btn-yellow">start my 30-day free trial</a>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-offset-2 col-sm-8">
        				<div class="peoplepic">
        					<img src="assets/images/people.png" class="img-responsive" alt="Image">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

        <hr>

        <section class="planorganize">
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-offset-3 col-sm-6">
        				<div class="heading">Plan, organise and produce web content in one place</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-12">
        				<div class="subheading">From draft to approval: Streamline your web content production process.</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-offset-1 col-sm-10">
        				<div class="devices">
        					<img src="assets/images/devices.png" class="img-responsive" alt="Image">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

        <section class="plangrayblock">
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-4 m-t-20">
        				<p class="question">Is your current support solution giving you headaches?</p>
        			</div>
        			<div class="col-sm-4 m-t-20">
        				<div class="media">
        					<a class="pull-left" href="#">
        						<img class="media-object" src="assets/images/svg/additional/mail.svg" alt="Image">
        					</a>
        					<div class="media-body">
        						<h4 class="media-heading">Compare Help Scout to</h4>
        						<p><a href="">using a shared email inbox</a></p>
        					</div>
        				</div>
        			</div>
        			<div class="col-sm-4 m-t-20">
        				<div class="media">
        					<a class="pull-left" href="#">
        						<img class="media-object" src="assets/images/svg/additional/support.svg" alt="Image">
        					</a>
        					<div class="media-body">
        						<h4 class="media-heading">Compare Help Scout to</h4>
        						<p><a href="">Zendesk</a> or <a href="">other help desks</a></p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

        <section class="everyone">
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-offset-2 col-sm-8">
        				<h2 class="heading">Everyone on your team will know what content is due when, and what their involvent is. We’ll even notify people automatically when their due dates are coming up.</h2>        			
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-offset-1 col-sm-5">
        				<div class="boxes grayborder">
        					<div class="topheading">You before GatherContent</div>
        					<ul>
        						<li>Content hidden away in various Word documents</li>
        						<li>File attachments lost in your inbox</li>
        						<li>Time wasted manually chasing late content</li>
        						<li>Copying and pasting badly-formatted content into the CMS</li>
        						<li>Not clear who is responsible for delivering content</li>
        						<li>hasing late content for approval</li>
        						<li>Late content pushing back launch dates</li>
        					</ul>
        				</div>
        			</div>
        			<div class="col-sm-5 boxe">
        				<div class="boxes greenborder">
        					<div class="topheading">Future you</div>
        					<ul>
        						<li>Content is organised and all in one place</li>
        						<li>Clear production timelines and responsibilities</li>
        						<li>Tightly controlled markup that’s ready for publishing</li>
        						<li>Automatically sending due date reminder notifications</li>
        					</ul>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

        <section class="testimonial">
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-offset-2 col-sm-8">
        				<div class="media">
        					<a class="pull-left" href="#">
        						<img class="media-object img-circle" src="assets/images/mattmurray.png" alt="Image">
        					</a>
        					<div class="media-body">
        						<h4 class="media-heading">“Proojo has Content changed how we work and it’s helped pur clients work better, smarter and more efficiently, helping them produce better content in the process.”</h4>
        						<p class="name">Matt Murray</p>
        						<p class="bio">Content Strategist, Epiphany Search</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

        <section class="portfolioarea">
        	<div class="container">
        		<div class="heading">Our goal is to make your job easier</div>
        		<div class="row">
        			<div class="col-sm-6">
        				<div class="portfolioboxes form-group">
        					<div class="media">
        						<div class="media-left">
        							<a href="#" class="media-object">
        								
        							</a>
        						</div>
        						<div class="media-body">
        							<h4 class="media-heading">Watch a demo</h4>
        							See Help Scout in action and learn the basics
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-sm-6">
        				<div class="portfolioboxes form-group">
        					<div class="media">
        						<div class="media-left">
        							<a href="#" class="media-object">
        								
        							</a>
        						</div>
        						<div class="media-body">
        							<h4 class="media-heading">Talk to an Expert</h4>
        							See Help Scout in action and learn the basics
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-sm-6">
        				<div class="portfolioboxes form-group">
        					<div class="media">
        						<div class="media-left">
        							<a href="#" class="media-object">
        								
        							</a>
        						</div>
        						<div class="media-body">
        							<h4 class="media-heading">Attend to webinar</h4>
        							See Help Scout in action and learn the basics
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-sm-6">
        				<div class="portfolioboxes form-group">
        					<div class="media">
        						<div class="media-left">
        							<a href="#" class="media-object">
        								
        							</a>
        						</div>
        						<div class="media-body">
        							<h4 class="media-heading">Our latest post</h4>
        							See Help Scout in action and learn the basics
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

        <section class="trialarea">
                <div class="container-fluid">
                       <div class="row">
                              <div class="col-sm-12">
                                     <span class="leftbg"></span>
                                     <span class="text-center">
                                            <h2>Start your free 15 day trial</h2>
                                            <p>Better experience for your customers, fewer headaches<br>for your team. You’ll be set up in minutes.</p>
                                            <div><a href="" class="btn btn-yellow">Try free trial now</a></div>
                                    </span>
                                    <span class="rightbg"></span>
                            </div>
                    </div>
            </div>
    </section>

    <section class="support">
       <div class="container">
              <div class="row">
                     <div class="col-sm-4 m-t-20">
                            <img src="assets/images/svg/additional/support2.svg" class="img-responsive" alt="Image">
                            <span><b>Free training</b> & 24 hour support</span>
                    </div>
                    <div class="col-sm-4 m-t-20">
                            <img src="assets/images/svg/additional/clock.svg" class="img-responsive" alt="Image">
                            <span><b>99,9% uptime</b> the last 12 months</span>
                    </div>
                    <div class="col-sm-4 m-t-20">
                            <img src="assets/images/svg/additional/lock.svg" class="img-responsive" alt="Image">
                            <span>Serious about <b>security</b> & <b>privacy</b></span>
                    </div>
            </div>
    </div>
</section>

<footer class="container"> <!-- Footer Starts here -->
       <div class="main-footer">
              <div class="row">
                     <div class="col-sm-2">
                            <h5 class="footernav-head">product</h5>
                            <ul class="list-unstyled">
                                   <li><a href="">Help Desk Software</a></li>
                                   <li><a href="">iOS Apps</a></li>
                                   <li><a href="">All Features</a></li>
                                   <li><a href="">Integrations</a></li>
                                   <li><a href="">Pricing</a></li>
                                   <li><a href="">Free Plan</a></li>
                                   <li><a href="">Plus Plan</a></li>
                           </ul>
                   </div>
                   <div class="col-sm-2">
                    <h5 class="footernav-head">company</h5>
                    <ul class="list-unstyled">
                           <li><a href="">Why Help Scout?</a></li>
                           <li><a href="">About Us</a></li>
                           <li><a href="">Careers</a></li>
                           <li><a href="">Blog</a></li>
                           <li><a href="">Resources</a></li>
                           <li><a href="">Terms</a></li>
                   </ul>
           </div>
           <div class="col-sm-2">
            <h5 class="footernav-head">get help</h5>
            <ul class="list-unstyled">
                   <li><a href="">Talk to an Expert</a></li>
                   <li><a href="">Get a Demo</a></li>
                   <li><a href="">Help Docs</a></li>
                   <li><a href="">Developers</a></li>
                   <li><a href="">Contact</a></li>
           </ul>
   </div>
   <div class="col-sm-2">
    <h5 class="footernav-head">compare to</h5>
    <ul class="list-unstyled">
           <li><a href="">Email</a></li>
           <li><a href="">ZenDesk</a></li>
           <li><a href="">Desk.com</a></li>
   </ul>
</div>
<div class="col-sm-4">
    <div class="rightside">
           <div class="logo">
                  <img src="assets/images/logo2.png" class="img-responsive" alt="Logo">
          </div>
          <p>Made by hand in 32 cities around the world</p>
          <div class="social">
                  <a href="#" class="circle"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="circle"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="circle"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="copyright">
                  <p><i class="fa fa-copyright"></i> Copyright 2017 Proojo App</p>
          </div>
  </div>
</div>
</div>
</div>
</footer> <!-- Footer ends Here -->

         <!-- @include html_Moudles/footer.html -->